@font-face {
  font-family: 'unb-office_regular-webfont';
  src: local('unb-office_regular-webfont'), url('./fonts/unboffice_regular_macroman/unb-office_regular-webfont.woff') format('woff');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.rangeInput {
  -webkit-appearance: none;
  appearance: none; 
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
  width: 95%;
}

.rangeInput::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

.rangeInput::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #ed5b2c ;
  box-shadow: -407px 0 0 400px #ed5b2c ;
}

.rangeInput::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ed5b2c ;
  box-shadow: -407px 0 0 400px #ed5b2c;
}
